<div class="row content-wrapper">
    <div class="col-12" *ngIf="spinnershow">
        <mat-spinner style="width:100%;display:block;margin:100px auto;"></mat-spinner>
    </div>
  <div class="col-md-12" *ngIf="!spinnershow">
    <h2 class="onboarding-headings mt-3 text-center">Connect Your Sales Channel</h2>
    <h3 class="onboarding-headings text-center">Fill out the box below then click CONNECT for your
      {{onboardingData.selectedStoreName}} store</h3>
    <div class="col-md-12">
      <form [formGroup]="myForm" (ngSubmit)="submitForm()" class="form-inline">
        <mat-form-field class="col-md-3">
          <input matInput placeholder="Enter username for {{onboardingData.selectedStoreName}}"
            formControlName="storeName">
        </mat-form-field>
        <!-- <div class="form-group col-md-3">
          <label>Enter username for {{onboardingData.selectedStoreName}}</label><br />
          <input type="text" formControlName="storeName" /><br />
          <div *ngIf="storeName.invalid && (storeName.dirty || storeName.touched)" class="alert alert-danger">
            <div *ngIf="storeName.errors.required">username is required.</div>
          </div>
        </div> -->
        <!--{{myForm.controls.storeName.value}}-->

        <mat-form-field class="col-md-3">
          <input matInput placeholder="Enter password for {{onboardingData.selectedStoreName}}"
            formControlName="storePass">
        </mat-form-field>

        <div class="form-group col-md-2">
          <mat-form-field>
            <mat-label>Select product listing</mat-label>
            <mat-select formControlName="productList">
              <mat-option *ngFor="let p of productListOptions" [value]="p">
                {{p}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group col-md-3">
          <mat-radio-group aria-label="Select an option" formControlName="productListExist">
            <label>Are products listed in QB</label><br />
            <mat-radio-button value="yes" class="mr-2">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col-md-12">
          <button type="button" class="ob-buttons ob-secondary-button" (click)="displayStores()">Back</button>
          <button class="ob-buttons ob-primary-button" type="submit" [disabled]="!myForm.valid" disabled>Connect</button>
        </div>
      </form>
    </div>
  </div>
</div>

  <mat-card class="output-result-cart" *ngIf="(onboardingData | json) != '{}'">
      <mat-card-title>Output</mat-card-title>
      <mat-card-content>
        <span *ngIf="onboardingData?.selectedStoreIndex"><span>Selected Store Index :</span>
        <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.selectedStoreIndex}}</mat-chip></mat-chip-list></span></span>
        <span *ngIf="onboardingData?.selectedStoreName"><span>Selected Store Name :</span>
        <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.selectedStoreName}}</mat-chip></mat-chip-list></span></span>
        <span *ngIf="onboardingData?.storeName"><span>Entered Store Username:</span>
        <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.storeName}}</mat-chip></mat-chip-list></span></span>
        <span *ngIf="onboardingData?.storePass"><span>Entered Store Password :</span>
        <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.storePass}}</mat-chip></mat-chip-list></span></span>
        <span *ngIf="onboardingData?.productListExist"><span>Are products listed in your QB :</span>
        <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.productListExist}}</mat-chip></mat-chip-list></span></span>
        <span *ngIf="onboardingData?.productList"><span>Product Listing :</span>
        <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.productList}}</mat-chip></mat-chip-list></span></span>
    </mat-card-content>
  </mat-card>