.content-wrapper {
  form {
    .form-group {
      margin: 15px 20px;
    }
    .form-group input,
    .form-group select {
      margin: 0px 5px;
      width: 100%;
    }
    .form-group .alert {
      position: absolute;
      top: 100%;
      padding: 0 10px;
      width: 100%;
      border-radius: 0;
      left: 20px;
    }
    mat-radio-group label {
      color: rgba(0, 0, 0, 0.54);
    }
  }
}
.output-result-cart mat-card-content, .output-result-cart mat-card-title{border-bottom: 1px dashed #e4e4e4;padding-bottom: 5px;margin-bottom: 5px;color:#777777;font-weight: normal;}