<div class="row mt-5 mb-4">
    <div class="col-12">        
        <div class="mx-auto" style="width: 200px;">
            <img src="https://www.webgility.com/images/webgility-new-design/webgility-logo-og.svg" alt="">
          </div>
    </div>
</div>
<!-- parent value of amount : {{stepperIndex}}<br/> -->
<mat-horizontal-stepper [linear]="true" [selectedIndex]="stepperIndex" #stepper>
    <mat-step [completed]="step1Completed">
        <form>
            <ng-template matStepLabel>Select Sales Channel</ng-template>
            <!-- <mat-form-field>
              <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field> -->
            <!-- child value of amount : {{stepperIndex}} -->
            <app-selectstore *ngIf="stepperIndex==0" [stepperIndex]="stepperIndex" (stepperIndexChange)="this.stepperIndex= $event" (makeCurrentStepComplete)="makeStep1Completed($event)" ></app-selectstore>
            <!-- <div>
                <button class="btn btn-dark" mat-button matStepperNext>Next</button>
            </div> -->
        </form>
    </mat-step>
    <mat-step [completed]="step2Completed">
        <form>
            <!-- child value of amount : {{stepperIndex}} -->
            <app-storecredentials *ngIf="stepperIndex==1" [stepperIndex]="stepperIndex" (stepperIndexChange)="this.stepperIndex= $event" (makeCurrentStepComplete)="makeStep2Completed($event)"></app-storecredentials>
            <ng-template matStepLabel>Store Credentials</ng-template>
            <!-- <mat-form-field>
              <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field> -->
            <!-- <div>
                <button class="btn btn-light mr-2" mat-button matStepperPrevious>Back</button>
                <button class="btn btn-dark" mat-button matStepperNext>Next</button>
            </div> -->
        </form>
    </mat-step>
    <mat-step>
        <!-- child value of amount : {{stepperIndex}} -->
        <app-storesuccess *ngIf="stepperIndex==2" [stepperIndex]="stepperIndex" (stepperIndexChange)="this.stepperIndex= $event"></app-storesuccess>
        <ng-template matStepLabel>Successfully Done</ng-template>
          <!-- You are now done. -->
        <!-- <div>
            <button class="btn btn-light mr-2" mat-button matStepperPrevious>Back</button>
            <button class="btn btn-dark" mat-button (click)="stepper.reset()">Reset</button>
        </div> -->
    </mat-step>
</mat-horizontal-stepper>