<div class="row content-wrapper store-success-wrapper">
    <div class="col-md-12">
        <div class="store-success-info col-md-4 float-left">
            <!-- <label>Collected form values are </label><br/><br/> -->
            <label>username : {{onboardingData.storeName}}</label><br />
            <label>password : {{onboardingData.storePass}}</label><br />
            <label>Are products listed : {{onboardingData.productListExist}}</label><br />
            <label>Selected product listing : {{onboardingData.productList}}</label><br />
        </div>
        <div class="col-md-8 float-left text-center">
            <mat-icon>check_circle_outline</mat-icon>
            <!-- <mat-icon>thumb_up</mat-icon> -->
            <h3 class="onboarding-headings"><span>Congrats!</span><br />You've successfully connected your store to
                Webgility</h3>
            <button class="ob-buttons ob-secondary-button" (click)="goToSecondScreen()">Back</button>
            <button class="ob-buttons ob-primary-button">Check your sales</button>
        </div>
        <!-- <div class="col-md-12 float-left">
        <button class="ob-buttons ob-secondary-button" (click)="goToSecondScreen()">Back</button>
    </div> -->
    </div>
</div>

<mat-card class="output-result-cart" *ngIf="(onboardingData | json) != '{}'">
        <mat-card-title>Output</mat-card-title>
        <mat-card-content>
          <span *ngIf="onboardingData?.selectedStoreIndex"><span>Selected Store Index :</span>
          <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.selectedStoreIndex}}</mat-chip></mat-chip-list></span></span>
          <span *ngIf="onboardingData?.selectedStoreName"><span>Selected Store Name :</span>
          <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.selectedStoreName}}</mat-chip></mat-chip-list></span></span>
          <span *ngIf="onboardingData?.storeName"><span>Entered Store Username:</span>
          <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.storeName}}</mat-chip></mat-chip-list></span></span>
          <span *ngIf="onboardingData?.storePass"><span>Entered Store Password :</span>
          <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.storePass}}</mat-chip></mat-chip-list></span></span>
          <span *ngIf="onboardingData?.productListExist"><span>Are products listed in your QB :</span>
          <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.productListExist}}</mat-chip></mat-chip-list></span></span>
          <span *ngIf="onboardingData?.productList"><span>Product Listing :</span>
          <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.productList}}</mat-chip></mat-chip-list></span></span>
      </mat-card-content>
    </mat-card>