.store-success-wrapper {
  .store-success-info {
    padding: 30px;
    background: #f3f4f6;
    line-height: 40px;
    margin: 25px 0px;
  }
  mat-icon {
    font-size: 70px;
    line-height: 100px;
    color: #001d75;
    width: auto;
    height: auto;
  }
}
