/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: #F3F4F6;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-wrapper {
  background: #ffffff;
  padding: 10px 25px 25px;
  margin-top: 10px;
  margin-bottom: 10px;
//   -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
// box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
box-shadow: 0 3px 8px rgba(145, 145, 145, 0.34901960784313724);
    -webkit-box-shadow: 0 3px 8px rgba(145, 145, 145, 0.34901960784313724);
}
.content-wrapper .store-list-container mat-card {
  padding: 30px 10px;
}
.mat-stepper-horizontal{background: none;}


/**BEGIN :: HEADINGS STYLING**/
h2.onboarding-headings{
  font-size: 26px;
  color: #999999;
  font-weight: 100;
  border: 1px dashed #eeeeee;
  padding: 10px;
  background: rgba(0,29,117, 0.01);
  text-align: left;
}
h3.onboarding-headings{
  font-size: 25px;
  color: #999999;
  font-weight: 100;
  padding: 10px;
  line-height: 40px;
}
h3.onboarding-headings span{
  font-size: 30px;
}
/**END :: HEADINGS STYLING**/

/**BEGIN :: BUTTON STYLING**/
.ob-buttons:first-child{margin-left: 0;}
.ob-buttons:last-child{margin-right: 0;}
.ob-buttons{
  border-radius: 0px;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px !important;
    font-weight: 600;
    margin:20px;
    min-width: 100px;
}
.ob-primary-button{
  background: #001d75 !important;
  border: 2px solid #001d75 !important;
  color:#ffffff;
  float: right;
}
.ob-primary-button:disabled{
  background: #001d75 !important;
  border: 2px solid #001d75 !important;
  color:#ffffff;
  float: right;
  opacity: 0.5;
}
.ob-primary-button-center{
  background: #001d75 !important;
  border: 2px solid #001d75 !important;
  color:#ffffff;
  margin: 20px auto;
}
.ob-secondary-button{
  background:none !important;
  border: 2px solid #999999 !important;
  color: #666666;
  float: left;
}
/**END :: BUTTON STYLING**/

.mat-step-icon-selected,.mat-step-icon-state-edit{
  background-color: #001d75 !important;
}

.output-result-cart{text-align: center;}
.output-result-cart span{display: inline-block;letter-spacing: 1px;}
.output-result-cart mat-card-content > span{background: #f8f8f8;box-shadow: 0 0px 3px rgba(0,0,0,0.05);border:1px solid #e6e6e6;margin: 5px 20px 5px 0; padding: 5px;}
.output-result-cart span span:nth-child(1){color:#222222;}
.output-result-cart span span:nth-child(2){margin: 0 0px 0 5px;}