<div class="row content-wrapper">
  <div class="col-12" *ngIf="spinnershow">
      <mat-spinner style="width:100%;display:block;margin:100px auto;"></mat-spinner>
  </div>
  <div class="col-12 text-center" *ngIf="!spinnershow">
    <div class="stores-container">
        <h2 class="onboarding-headings mt-3">Select Your channel</h2>
        <!-- <mat-card> -->
      <mat-form-field>
        <input matInput type="text" placeholder="Search Sales Channel" [(ngModel)]="searchStores">
        <button mat-button matPrefix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    <!-- </mat-card> -->
      <!-- <mat-icon>search</mat-icon><input type="text" placeholder="Search Sales Channel" [(ngModel)]="searchStores" style="width: 50%;"> -->
      <div class="row">
        <div class="col-md-3 col-sm-12 mt-3 mb-3 store-list-container" *ngFor="let item of storeArr | filter:searchStores; let i = index">
          <mat-card [class.highlight]="hightlightStatus[i]||item.storeName==selectedStoreName"
            (click)="displayCredentialScreen(item,i)">
            <mat-card-subtitle>{{item.storeName}}</mat-card-subtitle>
            <mat-card-content> <img src="assets/logos/{{item.storeUrl}}" class="img-fluid" alt=""></mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-card class="output-result-cart" *ngIf="(onboardingData | json) != '{}'">
    <mat-card-title>Output</mat-card-title>
    <mat-card-content>
      <span *ngIf="onboardingData?.selectedStoreIndex"><span>Selected Store Index :</span>
      <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.selectedStoreIndex}}</mat-chip></mat-chip-list></span></span>
      <span *ngIf="onboardingData?.selectedStoreName"><span>Selected Store Name :</span>
      <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.selectedStoreName}}</mat-chip></mat-chip-list></span></span>
      <span *ngIf="onboardingData?.storeName"><span>Entered Store Username:</span>
      <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.storeName}}</mat-chip></mat-chip-list></span></span>
      <span *ngIf="onboardingData?.storePass"><span>Entered Store Password :</span>
      <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.storePass}}</mat-chip></mat-chip-list></span></span>
      <span *ngIf="onboardingData?.productListExist"><span>Are products listed in your QB :</span>
      <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.productListExist}}</mat-chip></mat-chip-list></span></span>
      <span *ngIf="onboardingData?.productList"><span>Product Listing :</span>
      <span><mat-chip-list><mat-chip color="primary" selected>{{onboardingData?.productList}}</mat-chip></mat-chip-list></span></span>
  </mat-card-content>
</mat-card>